*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: PopLight;
  src: url("../fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: PopMedium;
  src: url("../fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: PopRegular;
  src: url("../fonts//Poppins-Regular.ttf");
}

body {
  font-family: PopLight;
  background: radial-gradient(#4e2768, #0b1023); 
  position: relative;
  color: #D8CFAA; 
  z-index: 0;
  height: 90vh;
  width: 100vw;
}

.body-ellipse {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 10%;

}

.main{
  position: relative;
  display: grid;
  grid-column-gap: 1%;
  grid-row-gap: 1%;
  grid-template-columns: 2vh 0.75fr 2.5fr 4fr 2vh;
  grid-template-rows: 2vh 1fr 2vh;
}

.hero-container {
  position: relative;
  grid-column: 3;
  grid-row: 2;
  justify-self: center;
}

.logo-icon-container{
  position: relative;
  background: green;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 2;
  grid-row: 2;
}

.logo-icon-container img{
  width: 80%;
  height: auto;
  justify-self: center;
}

.main-panel{
  background-color: magenta;
  grid-column: 4;
  grid-row: 2 / span 2;
  display: flex;
  flex-direction: column;
}

.title-block-container{
  text-align: center;
}

.title-block{
  background-color: lightcyan;
  margin: 5%;
}

.main-button-container{
  background-color: cyan;
  justify-self: center;
  justify-content: space-between;
  display: flex;
  float: left;
  height: 60%;
  margin: 2%;
}

.main-btns {
  height: 100%;
  background-color: blue;
  font-family: PopMedium;
  font-size: 20px;
  align-self: center;
  text-align: center;
  width: 20%;
}

.main-btns:hover {
  background-color: green;
}

.main-btn-submit{
  align-self: center;
  font-size: 32px;
  font-family: PopMedium;
  font-style: italic;
  padding: 2vh;
}

.main-btn-submit a {
  text-decoration: none;
  color: #D8CFAA;
}

.main-btn-submit a:hover {
  background-color: gold;
}
  